{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/subcategory.css') }}" />
{% endblock %}

{% block mainBody %}
    <div class="whereAmI">{{ whereAmI | raw }}</div>

    <div class="pageNameAndDescription">
        <div class="pageName">{{ subcategory.name }}</div>
        {% if subcategory.description is not null %}
            <div class="categoryOrSubcategoryDescription">{{ subcategory.description }}</div>
        {% endif %}
    </div>

    <nav class="pagePagination noSelect">
        <ul class="pagination">
            {% if currentPage == 1 %}
                <li class="disabled"><span aria-label="Previous" aria-hidden="true">«</span></li>
            {% else %}
                <li><a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'page': 1 }) }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            {% endif %}
            {% for page in 1..totalPages %}
                {% if currentPage == page %}
                    <li class="active"><a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'page': page }) }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'page': page }) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage == totalPages %}
                <li class="disabled"><span aria-label="Next" aria-hidden="true">»</span></li>
            {% else %}
                <li><a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'page': totalPages }) }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>

    <table id="subcategoryPageTable">
        <caption>
            <div id="sortBy" class="noSelect">
                {% if sortBy == 'dateUpdated' %}
                    <span class="circleTopicFilter makeMoreSpaceRight">
                        <a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'sortBy': 'dateUpdated' }) }}">Recently updated</a>
                    </span>
                {% else %}
                    <span class="makeMoreSpaceRight">
                        <a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'sortBy': 'dateUpdated' }) }}">Recently updated</a>
                    </span>
                {% endif %}

                {% if sortBy == 'dateCreated' %}
                    <span class="circleTopicFilter makeMoreSpaceRight">
                        <a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'sortBy': 'dateCreated' }) }}">Start date</a>
                    </span>
                {% else %}
                    <span class="makeMoreSpaceRight">
                        <a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'sortBy': 'dateCreated' }) }}">Start date</a>
                    </span>
                {% endif %}

                {% if sortBy == 'mostReplies' %}
                    <span class="circleTopicFilter makeMoreSpaceRight">
                        <a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'sortBy': 'mostReplies' }) }}">Most replies</a>
                    </span>
                {% else %}
                    <span class="makeMoreSpaceRight">
                        <a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'sortBy': 'mostReplies' }) }}">Most replies</a>
                    </span>
                {% endif %}
            </div>
        </caption>

        {% for topic in topics %}
            <tr>
                <td class="categoryAndSubcategoryPictureColumn">
                    {% if app.user %}
                        <img src="{{ asset('bundles/core/images/forumLoggedIn.png') }}" alt="Category and subcategory picture" class="categoryAndSubcategoryPicture"/>
                    {% else %}
                        <img src="{{ asset('bundles/core/images/forumNotLoggedIn.png') }}" alt="Category and subcategory picture" class="categoryAndSubcategoryPicture"/>
                    {% endif %}
                </td>

                <td class="categoryAndSubcategoryColumn">
                    <a href="{{ path('forum_core_topic_topic', {topicSlug: topic.slug}) }}">{{ topic.name }}</a>
                </td>

                <td class="topicsAndMessagesColumn">
                    {% if topic.messages | length == 1 %}
                        {{ topic.messages | length }} reply
                    {% else %}
                        {{ topic.messages | length }} replies
                    {% endif %}
                </td>

                <td class="lastTopicColumn">
                    {{ lastMessage[topic.slug].user.username }}
                    <br/>
                    {{ lastMessage[topic.slug].dateUpdated | date('d-m-Y H:i:s') }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <nav class="pagePagination noSelect">
        <ul class="pagination">
            {% if currentPage == 1 %}
                <li class="disabled"><span aria-label="Previous" aria-hidden="true">«</span></li>
            {% else %}
                <li><a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'page': 1 }) }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            {% endif %}
            {% for page in 1..totalPages %}
                {% if currentPage == page %}
                    <li class="active"><a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'page': page }) }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'page': page }) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage == totalPages %}
                <li class="disabled"><span aria-label="Next" aria-hidden="true">»</span></li>
            {% else %}
                <li><a href="{{ path('forum_core_subcategory_subcategory', { 'subcategorySlug': subcategory.slug, 'page': totalPages }) }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="whereAmI">{{ whereAmI | raw }}</div>
{% endblock %}