{% extends "CoreBundle::layout.html.twig" %}

{% block mainBody %}
    <div class="whereAmI">{{ whereAmI | raw }}</div>

    Subcategory: {{ subcategory.name }}
    <br/>
    <br/>
    {% for topic in subcategory.topics %}
        Topic: <a href="{{ path('forum_core_topic_topic', {topicSlug: topic.slug}) }}">{{ topic.name }}</a>
        <br/>
        Messages: {{ topic.messages | length }}
        <br/>
        Last person who commented: {{ lastMessage[topic.slug].user.username }}
        <br/>
        <br/>
    {% endfor %}

    <div class="whereAmI">{{ whereAmI | raw }}</div>
{% endblock %}