{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/bootstrap-theme.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/main.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/jquery-2.1.3.js') }}"></script>
    <script src="{{ asset('bundles/core/js/bootstrap.js') }}"></script>
    {#<script src="{{ asset('bundles/core/js/npm.js') }}"></script>#}

    <script src="{{ asset('bundles/core/js/main.js') }}"></script>
{% endblock %}

{% block body %}
    <header>
        <a href="{{ path('forum_core_default_homepage') }}">
            <img src="{{ asset('bundles/core/images/forum_logo.jpg') }}" alt="Home" />
        </a>

        {#<button id="logIn">Log In</button>#}
        {#<div id='logInForm' class="modal">Log In</div>#}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#logInForm">
            Log In
        </button>

        <!-- Modal -->
        <form action="" method="post">
            <div class="modal fade" id="logInForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="logInFormLabel">Log In</h4>
                        </div>
                        <div class="modal-body">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="_username" />

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="_password" />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" data-dismiss="modal">Log In</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </header>
    <br/>

    {% block mainBody %}{% endblock %}

    <footer>
        <p>&copy;{{ 'now' | date('Y') }} Forum</p>
    </footer>
{% endblock %}