{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/bootstrap-theme.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/main.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/core/js/jquery-2.1.3.js') }}"></script>
    <script src="{{ asset('bundles/core/js/bootstrap.js') }}"></script>
    {#<script src="{{ asset('bundles/core/js/npm.js') }}"></script>#}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script src="{{ asset('bundles/core/js/main.js') }}"></script>
    <script src="{{ asset('bundles/core/js/notification.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="header">
            <header>
                <div id="logInLogOutToolbar">
                    {% if app.user and app.user.avatar is not null %}
                        <img src="{{ asset('bundles/core/users_avatars/' ~ app.user.avatar) }}" alt="Profile picture" id="profilePicture"/>
                    {% else %}
                        <img src="{{ asset('bundles/core/images/no-profile-img.gif') }}" alt="Profile picture" id="profilePicture"/>
                    {% endif %}
                    {% if app.user %}
                        <span class="makeSpace">
                            <a href="{{ path('forum_core_profile_page_profile_page', {'username': app.user.username }) }}" id="userId" data-value="{{ app.user.id }}">
                                {{ app.user.username }}
                            </a>
                        </span>
                        <div class="displayInLine makeSpace">
                            <a href="{{ path('forum_core_conversation_show_conversations') }}">
                                <img src="{{ asset('bundles/core/images/privateMessage.png') }}" alt="Private messages" id="privateMessageIcon">
                            </a>
                        </div>
                        <div class="dropdown displayInLine makeSpace" id="notificationDropdown">
                            <img src="{{ asset('bundles/core/images/ios7-bell.png') }}" alt="No notifications" id="notificationIcon" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                            <ul class="dropdown-menu" aria-labelledby="notificationIcon">
                                <li>
                                    <a href="#" id="noNewNotification">No new notification!</a>
                                </li>
                            </ul>
                        </div>

                        <button id="logOutButton" type="button" class="btn btn-primary btn-sm makeSpace">
                            Log Out
                        </button>

                        {#<div id="searchInBlock" class="&#123;&#35;dropdown&#35;&#125; btn-group rightPosition">#}
                            {#&#123;&#35;<button class="btn btn-default dropdown-toggle" type="button" id="dropdownSelectWhatToSearchFor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">&#35;&#125;#}
                                {#&#123;&#35;Search in&#35;&#125;#}
                                {#&#123;&#35;<span class="caret"></span>&#35;&#125;#}
                            {#&#123;&#35;</button>&#35;&#125;#}
                            {#<button type="button" class="btn btn-primary">Search in</button>#}
                            {#<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                                {#<span class="caret"></span>#}
                                {#<span class="sr-only">Toggle Dropdown</span>#}
                            {#</button>#}
                            {#<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSelectWhatToSearchFor">#}
                                {#<li><a href="">Topics</a></li>#}
                                {#<li><a href="">Messages</a></li>#}
                                {#<li><a href="">Members</a></li>#}
                            {#</ul>#}
                        {#</div>#}

                        <div id="searchFormDiv" class="displayInLine rightPosition">
                            <form action="{{ path('forum_core_default_search_results') }}" method="post">
                                <select id="searchInBlock" class="form-control rightPosition" name="searchInBlock">
                                    <option value="inTopics">Topics</option>
                                    <option value="inMessages">Messages</option>
                                    <option value="inMembers">Members</option>
                                </select>

                                <div id="searchBlock" class="col-lg-6 rightPosition">
                                    <div class="input-group">
                                        <input type="text" id="searchInput" class="form-control" name="searchInput" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button id="searchButton" class="btn btn-default" type="submit">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <!-- Button trigger modal -->
                        <button id="logInButton" type="button" class="btn btn-primary btn-sm makeSpace">
                            Log In
                        </button>
                        <button id="registerButton" type="button" class="btn btn-primary btn-sm makeSpace">
                            Register
                        </button>
                    {% endif %}
                </div>

                <div id="logInModal"></div>

                <div id="forumLogoToolbar">
                    <a href="{{ path('forum_core_default_homepage') }}">
                        <img src="{{ asset('bundles/core/images/forumLogo.png') }}" alt="Home" id="forumLogo"/>
                    </a>
                </div>
            </header>
            <br/>
        </div>

        <div id="content">
            {% block mainBody %}{% endblock %}
        </div>

        <div id="footer">
            <footer>
                &copy;{{ 'now' | date('Y') }} Forum
            </footer>
        </div>
    </div>
{% endblock %}