{% extends "CoreBundle::layout.html.twig" %}

{% block mainBody %}
    {% for forum in forums %}
        Forum: <a href="{{ path('forum_core_default_homepage', {forumSlug: forum.slug}) }}">{{ forum.name }}</a>
        <br/>
        {% for category in forum.categories %}
            Category: <a href="{{ path('forum_core_category_category', {categorySlug: category.slug}) }}">{{ category.name }}</a>
            <br/>
            {% set numberOfTopics = 0 %}
            {% set numberOfMessages = 0 %}
            {% for subcategory in category.subcategories %}
                Subcategory: <a href="{{ path('forum_core_subcategory_subcategory', {subcategorySlug: subcategory.slug}) }}">{{ subcategory.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% set numberOfTopics = numberOfTopics + (subcategory.topics | length) %}
                {% for topic in subcategory.topics %}
                    {% set numberOfMessages = numberOfMessages + (topic.messages | length) %}
                {% endfor %}
            {% endfor %}
            <br/>
            Topics: {{ numberOfTopics }}
            <br/>
            Messages: {{ numberOfMessages }}
            <br/>
            Last topic:
            {% if lastTopic[category.slug] != null %}
                <a href="{{ path('forum_core_topic_topic', {topicSlug: lastTopic[category.slug].slug}) }}">{{ lastTopic[category.slug].name }}</a>
            {% else %}
                -
            {% endif %}
            <br/>
        {% endfor %}
        <br/>
        <br/>
        <br/>
    {% endfor %}
{% endblock %}
