{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/forum.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/core/js/forum.js') }}"></script>
{% endblock %}

{% block mainBody %}
    <div class="whereAmI">{{ whereAmI | raw }}</div>

    <!-- Add flashbag -->
    {{ include('CoreBundle::flashbag.html.twig') }}

    {% if app.user and is_granted('ROLE_MODERATOR') %}
        <button type="button" id="newCategoryButton" class="btn btn-primary rightPosition">New category</button>
    {% endif %}

    {% for forum in forums %}
        <table id="forumPageTable">
            <caption class="forumName">
                <a href="{{ path('forum_core_default_homepage', {forumSlug: forum.slug}) }}">{{ forum.name }}</a>
            </caption>
            {% for category in forum.categories %}
                <tr>
                    <td class="categoryAndSubcategoryPictureColumn">
                        {% if app.user %}
                            <img src="{{ asset('bundles/core/images/forumLoggedIn.png') }}" alt="Category and subcategory picture" class="categoryAndSubcategoryPicture"/>
                        {% else %}
                            <img src="{{ asset('bundles/core/images/forumNotLoggedIn.png') }}" alt="Category and subcategory picture" class="categoryAndSubcategoryPicture"/>
                        {% endif %}
                    </td>

                    <td class="categoryAndSubcategoryColumn">
                        <a href="{{ path('forum_core_category_category', {categorySlug: category.slug}) }}" class="category">{{ category.name }}</a>
                        <br/>
                        {% if category.description is not null%}
                            <span class="categoryOrSubcategoryDescription">{{ category.description }}</span>
                            <br/>
                        {% endif %}
                        {% set numberOfTopics = 0 %}
                        {% set numberOfMessages = 0 %}
                        {% for subcategory in category.subcategories %}
                            {% if app.user %}
                                <img src="{{ asset('bundles/core/images/subforum_loggedIn.png') }}" alt="Mark as read" class="markAsReadPicture"/>
                            {% else %}
                                <img src="{{ asset('bundles/core/images/subforum_notLoggedIn.png') }}" alt="Mark as read" class="markAsReadPicture"/>
                            {% endif %}
                            <a href="{{ path('forum_core_subcategory_subcategory', {subcategorySlug: subcategory.slug}) }}" class="subcategory">{{ subcategory.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% set numberOfTopics = numberOfTopics + (subcategory.topics | length) %}
                            {% for topic in subcategory.topics %}
                                {% set numberOfMessages = numberOfMessages + (topic.messages | length) %}
                            {% endfor %}
                        {% endfor %}
                    </td>

                    <td class="topicsAndMessagesColumn">
                        {{ numberOfTopics }} topics
                        <br/>
                        {{ numberOfMessages }} messages
                    </td>

                    <td class="lastTopicColumn">
                        {% if lastTopic[category.slug] != null %}
                            <a href="{{ path('forum_core_topic_topic', {topicSlug: lastTopic[category.slug].slug}) }}">{{ lastTopic[category.slug].name }}</a>
                            <br/>
                            {{ lastTopic[category.slug].dateUpdated | date('d-m-Y H:i:s') }}
                            <br/>
                            By
                            {% if app.user and lastMessagePersonForLastTopic[category.slug][0].user.isEnabled %}
                                <a href="{{ path('forum_core_profile_page_profile_page', { 'username': lastMessagePersonForLastTopic[category.slug][0].user.username }) }}">{{ lastMessagePersonForLastTopic[category.slug][0].user.username }}</a>
                            {% else %}
                                {{ lastMessagePersonForLastTopic[category.slug][0].user.username }}
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <br/>
    {% endfor %}

    <div class="whereAmI">{{ whereAmI | raw }}</div>

    <!-- Add category modal -->
    <div class="modal fade" id="addCategoryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add category</h4>
                </div>
                {{ form_start(categoryForm) }}
                <div class="modal-body">
                    <div class="requiredInfo">
                        * Required information
                    </div>
                    <br/>

                    {{ form_label(categoryForm.forum) }}
                    <br/>
                    {{ form_widget(categoryForm.forum) }}
                    <br/>
                    <br/>
                    {{ form_row(categoryForm.name) }}
                    <br/>
                    {{ form_row(categoryForm.description) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(categoryForm.save) }}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                {{ form_end(categoryForm) }}
            </div>
        </div>
    </div>
{% endblock %}
