{% extends "::base.html.twig" %}

{% block body %}
    {% for forum in forums %}
        Forum: <a href="{{ path('forum_core_default_homepage', {forumSlug: forum.slug}) }}">{{ forum.name }}</a>
        <br/>
        {% for category in forum.categories %}
            Category: {{ category.name }}
            <br/>
            {% set numberOfTopics = 0 %}
            {% set numberOfMessages = 0 %}
            {% for subcategory in category.subcategories %}
                Subcategory: {{ subcategory.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% set numberOfTopics = numberOfTopics + (subcategory.topics | length) %}
                {% for topic in subcategory.topics %}
                    {% set numberOfMessages = numberOfMessages + (topic.messages | length) %}
                {% endfor %}
            {% endfor %}
            <br/>
            Topics: {{ numberOfTopics }}
            <br/>
            Messages: {{ numberOfMessages }}
            <br/>
            Last topic:
            {% if lastTopic[category.slug] != null %}
                {{ lastTopic[category.slug].name }}
            {% else %}
                -
            {% endif %}
            <br/>
        {% endfor %}
        <br/>
        <br/>
        <br/>
    {% endfor %}
{% endblock %}
