{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/profilePage.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/core/js/ba-emotify.js') }}"></script>
    <script src="{{ asset('bundles/core/js/profilePage.js') }}"></script>
    <script src="{{ asset('bundles/core/js/emoticons.js') }}"></script>
{% endblock %}

{% block mainBody %}

    <div class="whereAmI">{{ whereAmI | raw }}</div>

    <div id="mainBody">
        <div id="actualUsername">
            {{ user.username }}
        </div>

        <div id="middleMainBody">
            {% if user.avatar is not null %}
                <img src="{{ asset('bundles/core/users_avatars/' ~ user.avatar) }}" class="userAvatarImage" alt="User avatar image"/>
            {% else %}
                <img src="{{ asset('bundles/core/images/no-profile-img.gif') }}" class="userAvatarImage" alt="User avatar image"/>
            {% endif %}

            <div id="topUserInfo" class="rightPosition">
                <span id="userInfoUsername">{{ user.username }}</span>
                <br/>
                Member since: {{ user.dateCreated | date('d M Y') }}
            </div>
            <br/>

            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" class="active">
                    <a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
                </li>
                <li role="presentation">
                    <a href="#topics" aria-controls="topics" role="tab" data-toggle="tab">Topics</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                </li>
                {% if user.username == app.user.username %}
                    <li role="presentation">
                        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                    </li>
                {% endif %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    Rank:
                    {% if user.roles[0] == 'ROLE_USER' %}
                        User
                    {% elseif user.roles[0] == 'ROLE_MODERATOR' %}
                        Moderator
                    {% elseif user.roles[0] == 'ROLE_ADMINISTRATOR' %}
                        Administrator
                    {% endif %}
                    <br/>
                    Topics: {{ user.topics | length }}
                    <br/>
                    Messages: {{ user.messages | length }}
                    {% if user.username != app.user.username %}
                        <br/>
                        <br/>
                        <button type="button" id="sendMeAPrivateMessage" class="btn btn-success btn-sm" value="{{ user.username }}">Send me a private message</button>
                    {% endif %}
                </div>

                <div role="tabpanel" class="tab-pane" id="topics">
                    <div id="topicsByThisUser">
                        {% for data in topicsWithFirstMessage %}
                            <div class="topicNameByUser">
                                <a href="{{ path('forum_core_topic_topic', { 'topicSlug': data.topic.slug }) }}">
                                    {{ data.topic.name }}
                                </a>
                            </div>
                            <div class="firstMessageNameFromTopicByUser">
                                {{ data.topic.dateCreated | date('d M Y - H:i') }}
                                <br/>
                                <br/>
                                {{ data.message.name }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="messages">
                    <div id="messagesByThisUser">
                        {% for message in messages %}
                            <div class="topicNameByUser">
                                In topic:
                                <a href="{{ path('forum_core_topic_topic', { 'topicSlug': message['message'].topic.slug, 'page': message['page'] }) }}#{{ message['message'].id }}">
                                    {{ message['message'].topic.name }}
                                </a>
                            </div>
                            <div class="messagesFromTopicByUser">
                                {{ message['message'].dateCreated | date('d M Y - H:i') }}
                                <br/>
                                <br/>
                                <script>
                                    if (Object.getOwnPropertyNames(emotify.emoticons()).length === 0) {
                                        emotify.emoticons('/bundles/core/emoticons/', smilies);
                                    }

                                    var text = $('<div/>').html("{{ message['message'].name }}").text();
                                    document.write(emotify(text));
                                </script>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="settings">
                    <button type="button" id="removeAvatar" class="btn btn-danger btn-sm" value="{{ user.username }}">Remove avatar</button>
                    <br/>
                    <br/>
                    <button type="button" id="changeAvatar" class="btn btn-success btn-sm" value="{{ user.username }}">Change avatar</button>
                    <br/>
                    <br/>
                    <button type="button" id="changePassword" class="btn btn-warning btn-sm" value="{{ user.username }}">Change password</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Remove avatar modal -->
    <div class="modal fade" id="removeAvatarModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Remove avatar</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove your avatar?
                </div>
                <div class="modal-footer">
                    <button type="submit" id="yesRemoveAvatarButton" class="btn btn-default btn-danger">Yes</button>
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Change avatar modal -->
    <form action="{{ path('forum_core_profile_page_change_or_remove_avatar', { 'username': user.username }) }}" method="post" enctype="multipart/form-data" id="changeAvatarFormToSubmit">
        <div class="modal fade" id="changeAvatarModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Change avatar</h4>
                    </div>
                    <div class="modal-body">
                        <div id="currentAvatar" class="leftPosition">
                            Current avatar:
                            <br/>
                            {% if user.avatar is not null %}
                                <img src="{{ asset('bundles/core/users_avatars/' ~ user.avatar) }}" class="currentOrNewUserAvatarImage" alt="User avatar image"/>
                            {% else %}
                                <img src="{{ asset('bundles/core/images/no-profile-img.gif') }}" class="currentOrNewUserAvatarImage" alt="User avatar image"/>
                            {% endif %}
                        </div>

                        <div id="newAvatar" class="rightPosition"></div>

                        <div id="errorMessages" class="alert alert-danger noDisplay" role="alert"></div>

                        <input type="file" id="avatar" name="avatar" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submitChangeAvatarForm" class="btn btn-default disabled">Change avatar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Change password modal -->
    <form action="{{ path('forum_core_profile_page_change_password', { 'username': user.username }) }}" method="post" enctype="multipart/form-data" id="changePasswordFormToSubmit">
        <div class="modal fade" id="changePasswordModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Change password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="requiredInfo">
                            * Required information
                        </div>
                        <br/>

                        <div class="form-group">
                            <label for="userOldPassword" class="required">Old password</label>
                            <input type="password" id="userOldPassword" required="required" class="form-control" autocomplete="off" aria-describedby="inputOldPass">
                        </div>

                        <div class="form-group">
                            <label for="userNewPassword" class="required">New password</label>
                            <input type="password" id="userNewPassword" name="newPassword" required="required" class="form-control" autocomplete="off" aria-describedby="inputNewPass">
                        </div>

                        <div class="form-group">
                            <label for="userNewPasswordVerification" class="required">Retype new password</label>
                            <input type="password" id="userNewPasswordVerification" required="required" class="form-control" autocomplete="off" aria-describedby="inputNewPassVerStatus">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submitChangePassword" class="btn btn-default disabled">Change password</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br/>
    <br/>
    <div class="whereAmI">{{ whereAmI | raw }}</div>

{% endblock %}