{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/topic.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/core/js/ba-emotify.js') }}"></script>
    <script src="{{ asset('bundles/core/js/topic.js') }}"></script>
    <script src="{{ asset('bundles/core/js/emoticons.js') }}"></script>
{% endblock %}

{% block mainBody %}
    <div class="whereAmI">{{ whereAmI | raw }}</div>

    <div class="pageNameAndDescription">
        <div class="pageName">{{ topic.name }}</div>
        <div class="categoryOrSubcategoryDescription">Started by {{ topic.user.username }}, {{ topic.dateCreated | date('d-M-Y H:i:s') }}</div>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% if type == 'success' %}
            {% set flashbagClass = 'alert alert-success alert-dismissible flashbag' %}
        {% else %}
            {% set flashbagClass = 'alert alert-danger alert-dismissible flashbag' %}
        {% endif %}
        {% for message in messages %}
            <div class="{{ flashbagClass }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table id="topicPageTable">
        <caption>
            {{ topic.messages | length }} replies to this topic
        </caption>

        {% set messageNumber = 1 %}
        {% for message in topic.messages %}
            <tr>
                <td colspan="2">
                    <div id="{{ message.id }}" class="messageMarginTop"></div>
                </td>
            </tr>

            <tr class="messageReplierAndPostDate">
                <td>
                    {% if app.user %}
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ message.user.username }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li>
                                    <a href="{{ path('forum_core_profile_page_profile_page', { 'username': message.user.username }) }}" class="viewProfile" data-value="{{ message.id }}">
                                        View profile
                                    </a>
                                </li>
                                <li><a href="#" class="sendMeAMessage" data-value="{{ message.id }}">Send me a message</a></li>
                            </ul>
                        </div>
                    {% else %}
                        {{ message.user.username }}
                    {% endif %}
                </td>
                <td>
                    <div class="leftPosition">
                        Posted on {{ message.dateCreated | date('Y-m-d H:i:s') }}
                    </div>
                    <div class="rightPosition">
                        #{{ messageNumber }}
                    </div>
                </td>
            </tr>

            <tr>
                <td class="aboutReplier">
                    {% if app.user %}
                        {% if message.user.avatar is not null %}
                            <img src="{{ asset('bundles/core/users_avatars/' ~ message.user.avatar) }}" class="userAvatarImage" alt="User avatar image"/>
                        {% else %}
                            <img src="{{ asset('bundles/core/images/no-profile-img.gif') }}" class="userAvatarImage" alt="User avatar image"/>
                        {% endif %}
                        <br/>
                        <br/>
                    {% endif %}
                    Posts: {{ message.user.messages | length }}
                </td>
                <td class="messageContent">
                    <script>
                        var text = $('<div/>').html("{{ message.name }}").text();
                        document.write(emotify_message(text));
                    </script>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="messageOptions">
                    <div class="leftPosition">
                        <button type="button" class="btn btn-primary btn-sm backToTop">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            <a href="#" class="cd-top">&nbsp;Back to top</a>
                        </button>
                    </div>
                    {% if app.user %}
                        <div class="rightPosition">
                            {% if (app.user.id == message.user.id and message.dateUpdated >= date("now") | date_modify("-1 hour"))
                                or 'ROLE_MODERATOR' in app.user.roles
                                or 'ROLE_ADMINISTRATOR' in app.user.roles %}
                                <button type="button" class="btn btn-primary btn-sm editMessage" value="{{ message.id }}">
                                    Edit
                                </button>
                            {% endif %}
                            {% if 'ROLE_MODERATOR' in app.user.roles
                                or 'ROLE_ADMINISTRATOR' in app.user.roles %}
                                <button type="button" class="btn btn-primary btn-sm deleteMessage" value="{{ message.id }}">
                                    Delete
                                </button>
                            {% endif %}
                            {% if 'ROLE_ADMINISTRATOR' in app.user.roles %}
                                <button type="button" class="btn btn-primary btn-sm moveMessage" value="{{ message.id }}">
                                    Move
                                </button>
                            {% endif %}

                            <button type="button" class="btn btn-primary btn-sm quoteMessage" value="{{ message.id }}">
                                Quote
                            </button>
                        </div>
                    {% endif %}
                </td>
            </tr>
            {% set messageNumber = messageNumber + 1 %}
        {% endfor %}
    </table>
    <br/>

    {% if app.user %}
        <div id="replyToThisTopic">
            Reply to this topic
        </div>
        <div id="replyMessageBox">
            <div class="replyMessage-left">
                {% if app.user.avatar is not null %}
                    <img src="{{ asset('bundles/core/users_avatars/' ~ app.user.avatar) }}" class="userAvatarImage" alt="User avatar image"/>
                {% else %}
                    <img src="{{ asset('bundles/core/images/no-profile-img.gif') }}" class="userAvatarImage" alt="User avatar image"/>
                {% endif %}
            </div>
            <div class="replyMessage-right">
                <div id="replyMessageOptions" class="noSelect">
                    <div class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-bold makeSpace" aria-hidden="true"></span>
                    </div>
                    <div class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-italic makeSpace" aria-hidden="true"></span>
                    </div>
                    <div class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-text-width makeSpace" aria-hidden="true"></span>
                    </div>
                    <div class="hoverReplyMessageOption" id="showSmiles">
                        <span class="glyphicon glyphicon-tree-conifer makeSpace" aria-hidden="true"></span>
                    </div>
                    <div class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-link makeSpace" aria-hidden="true"></span>
                    </div>
                    <div class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-paperclip makeSpace" aria-hidden="true"></span>
                    </div>

                    <div id="emoticonsZone"></div>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form.name) }}
                {{ form_row(form.save) }}
                <button type="button" id="cancelEditMessage" class="btn btn-primary btn-sm rightPosition makeSpaceBottom makeSpace noDisplay">
                Cancel editing
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
    <br/>
    <br/>

    <div class="whereAmI">{{ whereAmI | raw }}</div>

    <div class="modal fade" id="moveMessageModalWindow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Move message</h4>
                </div>
                <div class="modal-body">
                    <div id="forumSelect">
                        Forum:
                        <select>
                            {% for name, value in forums %}
                                <option value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="categorySelect" class="noDisplay makeSpaceTop">
                    </div>

                    <div id="subcategorySelect" class="noDisplay makeSpaceTop">
                    </div>

                    <div id="topicSelect" class="noDisplay makeSpaceTop">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary disabled" id="finishMovingMessage">Move message</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}