{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/topic.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/core/js/ba-emotify.js') }}"></script>
    <script src="{{ asset('bundles/core/js/backToTop.js') }}"></script>
    <script src="{{ asset('bundles/core/js/topic.js') }}"></script>
    <script src="{{ asset('bundles/core/js/emoticons.js') }}"></script>
    <script src="{{ asset('bundles/core/js/replyOptions.js') }}"></script>
{% endblock %}

{% block mainBody %}
    <div class="whereAmI">{{ whereAmI | raw }}</div>

    <div class="pageNameAndDescription">
        <div class="pageName">{{ topic.name }}</div>
        <div class="categoryOrSubcategoryDescription">Started by {{ topic.user.username }}, {{ topic.dateCreated | date('d-M-Y H:i:s') }}</div>
    </div>

    <nav class="pagePagination noSelect">
        <ul class="pagination">
            {% if currentPage == 1 %}
                <li class="disabled"><span aria-label="Previous" aria-hidden="true">«</span></li>
            {% else %}
                <li><a href="{{ path('forum_core_topic_topic', { 'topicSlug': topic.slug, 'page': 1 }) }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            {% endif %}
            {% for page in 1..totalPages %}
                {% if currentPage == page %}
                    <li class="active"><a href="{{ path('forum_core_topic_topic', { 'topicSlug': topic.slug, 'page': page }) }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="{{ path('forum_core_topic_topic', { 'topicSlug': topic.slug, 'page': page }) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage == totalPages %}
                <li class="disabled"><span aria-label="Next" aria-hidden="true">»</span></li>
            {% else %}
                <li><a href="{{ path('forum_core_topic_topic', { 'topicSlug': topic.slug, 'page': totalPages }) }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>

    {% if app.user %}
        {% if (app.user.id == topic.user.id and topic.dateUpdated >= date("now") | date_modify("-1 hour"))
            or is_granted('ROLE_MODERATOR') %}
            <button type="button" id="newOrEditTopicNameButton" class="btn btn-primary rightPosition">Edit topic name</button>
        {% endif %}
    {% endif %}

    <!-- Add flashbag -->
    {{ include('CoreBundle::flashbag.html.twig') }}

    <table id="topicPageTable">
        {% set numberOfMessages = topic.messages | length %}
        <caption>
            {{ numberOfMessages }} replies to this topic
        </caption>

        {% set messageNumber = maxMessagesPerPage * (currentPage - 1)  + 1%}
        {% for message in messages %}
            <tr>
                <td colspan="2">
                    <div id="{{ message.id }}" class="messageMarginTop">
                        <div class="noDisplay">
                            <span class="messageFromDb">{{ message.name }}</span>
                            <span class="messageUsernameFromDb">{{ message.user.username }}</span>
                            <span class="messageDateCreatedFromDb">{{ message.dateCreated | date('Y-m-d H:i:s') }}</span>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="messageReplierAndPostDate">
                <td>
                    {% if app.user and message.user.isEnabled %}
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ message.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ message.user.username }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ message.id }}">
                                <li>
                                    <a href="{{ path('forum_core_profile_page_profile_page', { 'username': message.user.username }) }}" class="viewProfile" data-value="{{ message.id }}">
                                        View profile
                                    </a>
                                </li>
                                {% if app.user.username != message.user.username %}
                                    <li><a class="sendMeAMessage" data-value="{{ message.user.username }}">Send me a private message</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% else %}
                        {{ message.user.username }}
                    {% endif %}
                </td>
                <td>
                    <div class="leftPosition">
                        Posted on {{ message.dateCreated | date('Y-m-d H:i:s') }}
                    </div>
                    <div class="rightPosition">
                        #{{ messageNumber }}
                    </div>
                </td>
            </tr>

            <tr>
                <td class="aboutReplier">
                    {% if app.user %}
                        {% if message.user.avatar is not null %}
                            <img src="{{ asset('bundles/core/users_avatars/' ~ message.user.avatar) }}" class="userAvatarImage" alt="User avatar image"/>
                        {% else %}
                            <img src="{{ asset('bundles/core/images/no-profile-img.gif') }}" class="userAvatarImage" alt="User avatar image"/>
                        {% endif %}
                        <br/>
                        <br/>
                    {% endif %}
                    <div class="replierInfo">
                        Posts: {{ message.user.messages | length }}
                        <br/>
                        Joined: {{ message.user.dateCreated | date('d.m.Y') }}
                        <br/>
                        Member ID: {{ message.user.id }}
                    </div>
                </td>
                <td class="messageContent">
                    <script>
                        if (Object.getOwnPropertyNames(emotify.emoticons()).length === 0) {
                            emotify.emoticons('/bundles/core/emoticons/', smilies);
                        }

                        var text = $('<div/>').html("{{ message.name }}").text();
                        text = parseMessage(text, 0);
                        document.write(emotify(text));
                    </script>

                    {% if app.user and message.file != null %}
                        <br/>
                        <br/>
                        <br/>
                        <div class="alert alert-info messageOriginalFileName" role="alert">
                            <a href="/bundles/core/messages_uploads/{{ message.file }}" target="_blank">{{ message.originalFileName }}</a>
                        </div>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td colspan="2" class="messageOptions">
                    <div class="leftPosition">
                        <button type="button" class="btn btn-primary btn-sm backToTop">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            <a href="#" class="cd-top">&nbsp;Back to top</a>
                        </button>
                    </div>
                    {% if app.user %}
                        <div class="rightPosition">
                            {% if (app.user.id == message.user.id and message.dateUpdated >= date("now") | date_modify("-1 hour"))
                                or is_granted('ROLE_MODERATOR') %}
                                <button type="button" class="btn btn-primary btn-sm editMessage" value="{{ message.id }}">
                                    Edit
                                </button>
                            {% endif %}
                            {% if (numberOfMessages > 1) and is_granted('ROLE_MODERATOR') %}
                                <button type="button" class="btn btn-primary btn-sm deleteMessage" value="{{ message.id }}">
                                    Delete
                                </button>
                            {% endif %}
                            {% if (numberOfMessages > 1) and is_granted('ROLE_ADMINISTRATOR') %}
                                <button type="button" class="btn btn-primary btn-sm moveMessage" value="{{ message.id }}">
                                    Move
                                </button>
                            {% endif %}

                            <button type="button" class="btn btn-primary btn-sm quoteMessage" value="{{ message.id }}">
                                Quote
                            </button>
                        </div>
                    {% endif %}
                </td>
            </tr>
            {% set messageNumber = messageNumber + 1 %}
        {% endfor %}
    </table>
    <br/>
    <br/>

    {% if app.user %}
        <div id="replyToThisTopic">
            Reply to this topic
        </div>
        <div id="replyMessageBox">
            <div class="replyMessage-left">
                {% if app.user.avatar is not null %}
                    <img src="{{ asset('bundles/core/users_avatars/' ~ app.user.avatar) }}" class="userAvatarImage" alt="User avatar image"/>
                {% else %}
                    <img src="{{ asset('bundles/core/images/no-profile-img.gif') }}" class="userAvatarImage" alt="User avatar image"/>
                {% endif %}
            </div>
            <div class="replyMessage-right">
                <div class="replyMessageOptions noSelect">
                    <div id="boldText" class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-bold makeSpace" aria-hidden="true"></span>
                    </div>
                    <div id="italicText" class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-italic makeSpace" aria-hidden="true"></span>
                    </div>
                    <div id="underlinedText" class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-text-width makeSpace" aria-hidden="true"></span>
                    </div>
                    <div id="showSmiles" class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-tree-conifer makeSpace" aria-hidden="true"></span>
                    </div>
                    <div id="hyperlinkText" class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-link makeSpace" aria-hidden="true"></span>
                    </div>
                    <div id="insertFile" class="hoverReplyMessageOption">
                        <span class="glyphicon glyphicon-paperclip makeSpace" aria-hidden="true"></span>
                    </div>

                    <div id="emoticonsZone"></div>
                </div>
                {{ form_start(form) }}
                {#<div id="messageNameEditableDiv" class="form-control makeSpaceBottom" required="required" contenteditable="true"></div>#}
                {{ form_widget(form.name) }}
                <span class="noDisplay">{{ form_widget(form.file) }}</span>
                <div id="uploadedFileNameDiv" class="alert alert-info alert-dismissible noDisplay" role="alert">
                    <button id="deleteUploadedFile" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span id="uploadedFileName"></span>
                </div>
                {{ form_row(form.save) }}
                <button type="button" id="cancelEditMessage" class="btn btn-primary btn-sm rightPosition makeSpaceBottom makeSpace noDisplay">
                    Cancel editing
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}

    <nav class="pagePagination noSelect">
        <ul class="pagination">
            {% if currentPage == 1 %}
                <li class="disabled"><span aria-label="Previous" aria-hidden="true">«</span></li>
            {% else %}
                <li><a href="{{ path('forum_core_topic_topic', { 'topicSlug': topic.slug, 'page': 1 }) }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            {% endif %}
            {% for page in 1..totalPages %}
                {% if currentPage == page %}
                    <li class="active"><a href="{{ path('forum_core_topic_topic', { 'topicSlug': topic.slug, 'page': page }) }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="{{ path('forum_core_topic_topic', { 'topicSlug': topic.slug, 'page': page }) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if currentPage == totalPages %}
                <li class="disabled"><span aria-label="Next" aria-hidden="true">»</span></li>
            {% else %}
                <li><a href="{{ path('forum_core_topic_topic', { 'topicSlug': topic.slug, 'page': totalPages }) }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="whereAmI">{{ whereAmI | raw }}</div>

    <!-- Add move message modal -->
    <div class="modal fade" id="moveMessageModalWindow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Move message</h4>
                </div>
                <div class="modal-body">
                    <div id="forumSelect">
                        Forum:
                        <select>
                            {% for name, value in forums %}
                                <option value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="categorySelect" class="noDisplay makeSpaceTop">
                    </div>

                    <div id="subcategorySelect" class="noDisplay makeSpaceTop">
                    </div>

                    <div id="topicSelect" class="noDisplay makeSpaceTop">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary disabled" id="finishMovingMessage">Move message</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add hyperlink modal -->
    <div class="modal fade" id="addHyperlinkModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add hyperlink</h4>
                </div>
                <div class="modal-body">
                    <label for="hyperlink">Hyperlink: </label>
                    <input type="text" id="hyperlink" class="form-control" required="required">
                </div>
                <div class="modal-footer">
                    <button type="button" id="confirmAddHyperlinkButton" class="btn btn-default disabled" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit topic name modal -->
    <form name="editTopicNameForm" action="{{ path('forum_core_subcategory_create_or_edit_topic', { 'subcategorySlug': topic.subcategory.slug, 'topicSlug': topic.slug }) }}" method="post">
        <div class="modal fade" id="editTopicNameModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit topic name</h4>
                    </div>
                    <div class="modal-body">
                        <div class="textAlignLeft">
                            <div class="requiredInfo">
                                * Required information
                            </div>

                            <label for="topicCurrentName" class="required">Topic current name</label>
                            <input type="text" id="topicCurrentName" class="form-control" value="{{ topic.name }}" required="required">

                            <br/>
                            <label for="topicNewName" class="required">Topic new name</label>
                            <input type="text" id="topicNewName" name="topicName" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Edit name</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Add new conversation modal -->
    {{ include('CoreBundle:Conversation:_newConversation.html.twig') }}
{% endblock %}