{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/topic.css') }}" />
{% endblock %}

{% block mainBody %}
    <div class="whereAmI">{{ whereAmI | raw }}</div>

    {% for type, messages in app.session.flashbag.all() %}
        {% if type == 'success' %}
            {% set flashbagClass = 'flashbagSuccess' %}
        {% else %}
            {% set flashbagClass = 'flashbagFail' %}
        {% endif %}
        {% for message in messages %}
            <p class="{{ flashbagClass }}">{{ message }}</p>
        {% endfor %}
    {% endfor %}

    Topic: {{ topic.name }}
    <br/>
    <br/>
    {% for message in topic.messages %}
        {{ message.name }}
        <br/>
        Posted by {{ message.user.username }} on {{ message.dateCreated | date('Y-m-d') }} at {{ message.dateCreated | date('H:i:s') }}
        <br/>
        <br/>
    {% endfor %}

    {% if app.user %}
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <br/>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    {% endif %}

    <div class="whereAmI">{{ whereAmI | raw }}</div>
{% endblock %}